click==6.7
Flask==0.12
Flask-WTF==0.14.2
gunicorn==19.6.0
itsdangerous==0.24
Jinja2==2.9.4
joblib==0.10.3
MarkupSafe==0.23
numpy==1.12.0
scikit-learn==0.18.1
scipy==0.18.1
sklearn==0.0
Werkzeug==0.11.15
WTForms==2.1
